:root{
  
  --greyL4:rgb(233, 233, 244);

  --greyL3:rgb(216, 216, 230);
  --greyL2:rgb(186, 186, 199);

  --greyL1:rgb(160, 160, 170);
  
  --grey:rgb(121, 121, 128);
  --red:rgb(255, 25, 25);


  --grey:rgb(121, 121, 127);
  
  --grey1:rgb(97, 97, 100);
 
  --grey2:rgb(63, 63, 66);
 
  --grey3:rgb(25, 25, 27);
 
  --blue:rgb(2, 2, 153);
  
  --blueT:rgba(2, 2, 153, 0.705);

  --blueL1:rgba(5, 5, 220, 0.705);
  
  --blueL2:rgb(8, 8, 255);

}