#mynav{
  width:100%;
  position:fixed;
  top:0;
  border-bottom:1px solid var(--greyL3);
  background:white;
}


#mynav #fbName{
  color:blue;
}

#buyData{
 align-items:center;
 border-radius:none !important;
}

#buyData *{
  color:white;
}

#buyData button{
padding:5px !important;
border:1px solid rgb(240, 237, 237);
box-shadow:0 !important;
}

#mynav *{
  padding-top:0px !important;
  padding-bottom:0px !important;
}
#mynav #fbName span{
font-family:monospace;
font-size:18px !important;
}


#mynav #buttons button{
width:30px;
height:30px;
border-radius:15px;
color:black;
font-weight:bolder;
background:var(--greyL4);
display:flex;
justify-content:center;
align-items:center;
margin-left:5px;
font-size:17px;
  }

  
#mynav #buttons button:hover{
  background:rgb(240, 239, 239);
}

#mynav #iconList div{
  width:16.6%;
  height:40px;
padding:0px 16px;
 }
 
#mynav #iconList div:hover{
  background:var(--greyL4);

}

#iconList div button{
  font-size:15px;
 color:var(--grey);
 font-size:19px;
}

#iconList div button span{
  position:absolute;
display:flex;
align-items:center;
justify-content:center;
background:var(--red);
border-radius:9px;
width:auto;
height:18px;
min-width:18px;
color:white !important;
transform:translate(13px , -30px);
font-size:10px;
font-weight:400 !important;


}


#iconList div:hover>button{
  color:var(--blue);
}
